/* .aman:hover {
  background-color: red;
  box-shadow: 10px 5px 5px blue;
  height: 20px;
  width: 50px;
}
 */
body {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(28, 41, 4, 1) 7%,
    rgba(7, 89, 39, 1) 28%,
    rgba(8, 103, 39, 1) 44%,
    rgba(9, 121, 39, 1) 55%,
    rgba(9, 121, 39, 1) 63%,
    rgba(9, 105, 125, 1) 72%,
    rgba(0, 212, 255, 1) 100%
  );
}
.main-cont {
  background: rgb(95, 126, 90);
  background: linear-gradient(
    90deg,
    rgba(95, 126, 90, 1) 21%,
    rgba(108, 143, 48, 1) 41%,
    rgba(153, 67, 67, 1) 100%
  );

  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  height: 800px;
  /*  box-shadow: 20px 20px 20px 20px yellow; */

  /* linear-gradient(90deg, rgba(95, 126, 90, 1) 21%, rgba(153, 67, 67, 1) 100%) */
}
.first-name {
  width: 500px;
}
#first-name1 {
  color: #0000ff;
  /* width: 200px; */
  height: 50px;
  box-shadow: 10px 10px 10px 10px gray;
  font-size: 20px;
}
#first-name1:hover {
  background-color: aqua;
}
.last-name {
  width: 500px;
}
#last-name1 {
  color: #0000ff;
  /* width: 200px; */
  height: 50px;
  box-shadow: 10px 10px 10px 10px gray;
  font-size: 20px;
}
#last-name1:hover {
  background-color: aqua;
}

.gender {
  padding: 10px;
}
.email {
  padding: 10px;
}
.pass {
  padding: 10px;
}
.click {
  width: 60px;
}
.fist-p {
  font-size: 40px;
  color: pink;
}
